In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/karishma_nageshwaran/Desktop/PORTFOLIO/Dashboard 2 - Supply Chain Performance/FINAL - DataCoSupplyChainDataset.csv",encoding='latin-1')

In [3]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [4]:
print(df.shape)

(180519, 53)

In [5]:
#remove rows that have missing values
df = df.dropna(axis='index', how='all')

In [6]:
print(df.shape)

(180519, 53)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [8]:
#look for the sum of null values for all columns
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [9]:
original_list = list(df.columns)
print(original_list)

['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)', 'Benefit per order', 'Sales per customer', 'Delivery Status', 'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City', 'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id', 'Customer Lname', 'Customer Password', 'Customer Segment', 'Customer State', 'Customer Street', 'Customer Zipcode', 'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market', 'Order City', 'Order Country', 'Order Customer Id', 'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quantity', 'Sales', 'Order Item Total', 'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status', 'Order Zipcode', 'Product Card Id', 'Product Category Id', 'Product Description', 'Product Image', 'Product Name', 'Product Price', 'Product Status', 'shipping date (DateOrders)', 'Shipping Mode']

In [10]:
#dropping irrelevant columns
drop_columns = ['Order Zipcode',
                'Product Description',
                'Benefit per order',
                'Customer City',
                'Customer Country',
                'Customer Id',
                'Customer Email',                     
                'Customer Fname',                                                  
                'Customer Lname',                        
                'Customer Password',
                'Customer Street',
                'Customer Zipcode',
                'Department Id',
                'Order Item Cardprod Id',
                'Product Card Id',
                'Product Category Id',
                'Product Status',
                'Product Image',
                'Latitude',
                'Longitude']

df.drop(columns=drop_columns, inplace=True, axis=1)


#Explanation:
#inplace=True: Modifies the DataFrame directly and does not return a new DataFrame.
#df = df.drop(...): Without inplace=True, this returns a new DataFrame with the specified columns dropped

In [11]:
#rename columns for clarity
df.rename(columns={'Type': 'Payment Type', 
                        'order date (DateOrders)': 'Order Date', 
                        'shipping date (DateOrders)': 'Shipping Date'},inplace=True)

In [12]:
#Standardize date formats to a more readable format
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Shipping Date'] = pd.to_datetime(df['Shipping Date'])

# Extract date part
df['Order Day'] = df['Order Date'].dt.day
df['Shipping Day'] = df['Shipping Date'].dt.day

# Extract month in string format
df['Order Month'] = df['Order Date'].dt.strftime('%B')
df['Shipping Month'] = df['Shipping Date'].dt.strftime('%B')

# Extract year
df['Order Year'] = df['Order Date'].dt.year
df['Shipping Year'] = df['Shipping Date'].dt.year

In [13]:
#feature engineering on shipping time

#Calculate Actual Shipping time
df['Actual Shipping Time'] = df['Days for shipping (real)'] - df['Days for shipment (scheduled)']

In [14]:
#showing only the delayed times as negative occurences in the Actual shipping time means the shipment is early
df['Shipping Delay'] = df['Actual Shipping Time'].apply(lambda x: x if x > 0 else 0)

In [15]:
print(df.shape)

(180519, 41)

In [16]:
df.head()

,Payment Type,Days for shipping (real),Days for shipment (scheduled),Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer Segment,Customer State,...,Shipping Date,Shipping Mode,Order Day,Shipping Day,Order Month,Shipping Month,Order Year,Shipping Year,Actual Shipping Time,Shipping Delay
0,DEBIT,3,4,314.640015,Advance shipping,0,73,Sporting Goods,Consumer,PR,...,2018-02-03 22:56:00,Standard Class,31,3,January,February,2018,2018,-1,0
1,TRANSFER,5,4,311.359985,Late delivery,1,73,Sporting Goods,Consumer,PR,...,2018-01-18 12:27:00,Standard Class,13,18,January,January,2018,2018,1,1
2,CASH,4,4,309.720001,Shipping on time,0,73,Sporting Goods,Consumer,CA,...,2018-01-17 12:06:00,Standard Class,13,17,January,January,2018,2018,0,0
3,DEBIT,3,4,304.809998,Advance shipping,0,73,Sporting Goods,Home Office,CA,...,2018-01-16 11:45:00,Standard Class,13,16,January,January,2018,2018,-1,0
4,PAYMENT,2,4,298.250000,Advance shipping,0,73,Sporting Goods,Corporate,PR,...,2018-01-15 11:24:00,Standard Class,13,15,January,January,2018,2018,-2,0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 41 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Payment Type                   180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Sales per customer             180519 non-null  float64
 4   Delivery Status                180519 non-null  object
 5   Late_delivery_risk             180519 non-null  int64
 6   Category Id                    180519 non-null  int64
 7   Category Name                  180519 non-null  object
 8   Customer Segment               180519 non-null  object
 9   Customer State                 180519 non-null  object
 10  Department Name                180519 non-null  object
 11  Market                         180519 non-null  object
 12  Order City                     180519 non-null  object
 13  Order Country                  180519 non-null  object
 14  Order Customer Id              180519 non-null  int64
 15  Order Date                     180519 non-null  datetime64[ns]
 16  Order Id                       180519 non-null  int64
 17  Order Item Discount            180519 non-null  float64
 18  Order Item Discount Rate       180519 non-null  float64
 19  Order Item Id                  180519 non-null  int64
 20  Order Item Product Price       180519 non-null  float64
 21  Order Item Profit Ratio        180519 non-null  float64
 22  Order Item Quantity            180519 non-null  int64
 23  Sales                          180519 non-null  float64
 24  Order Item Total               180519 non-null  float64
 25  Order Profit Per Order         180519 non-null  float64
 26  Order Region                   180519 non-null  object
 27  Order State                    180519 non-null  object
 28  Order Status                   180519 non-null  object
 29  Product Name                   180519 non-null  object
 30  Product Price                  180519 non-null  float64
 31  Shipping Date                  180519 non-null  datetime64[ns]
 32  Shipping Mode                  180519 non-null  object
 33  Order Day                      180519 non-null  int64
 34  Shipping Day                   180519 non-null  int64
 35  Order Month                    180519 non-null  object
 36  Shipping Month                 180519 non-null  object
 37  Order Year                     180519 non-null  int64
 38  Shipping Year                  180519 non-null  int64
 39  Actual Shipping Time           180519 non-null  int64
 40  Shipping Delay                 180519 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(14), object(16)
memory usage: 56.5+ MB

In [27]:
#import data to csv
df.to_csv('/Users/karishma_nageshwaran/Desktop/PORTFOLIO/Dashboard 2 - Supply Chain Performance/DataCo_Preprocessed.csv', index=False, encoding='utf-8')

### Ingest data into database

In [18]:
pip install pandas sqlalchemy pyodbc

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.4)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.35)
Requirement already satisfied: pyodbc in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (5.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from sqlalchemy import create_engine

In [20]:
import pyodbc

In [24]:
server = 'localhost'  
database = 'master'  
username = 'SA'  
password = '2199Azure!'  

# Create a connection string
connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Create a database engine
engine = create_engine(connection_string)

# Write the DataFrame to a SQL table
df.to_sql('DataCo', con=engine, if_exists='replace', index=False, chunksize=10000)

81